@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

/* styling for radio buttons */

/* STYLING OF THE LABEL */

/* IF DISABLED */

input[type="radio"]:checked + .options-label {
  background-color: #9ddfd3;
  color: #ffffff;
}

/* IF ANSWER IS FALSE*/
input[type="radio"]:checked + .false:disabled {
  color: #ff425e;
}

/* IF ANSWER IS TRUE*/
input[type="radio"]:checked + .true:disabled {
  color: #49b675;
}

input[type="radio"]:focus + .options-label {
  outline: #31326f solid 1px;
}

/* HIDING THE RADIO BUTTON */
